@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a 
            class="btn btn-sm btn-outline-primary"
            asp-controller="Auth"
            asp-action="Login"
        >Login</a>
        <a class="btn btn-sm btn-outline-secondary"
           asp-controller="Auth"
           asp-action="Register">Register</a>
    </div>
</div>
